MSSQL_SA_PASSWORD=ZeroShift!Local2026
POSTGRES_USER=zeroshift
POSTGRES_PASSWORD=zeroshift_local
JAVA_APP_PORT=8080
JAVA_MSSQL_PORT=1434
JAVA_POSTGRES_PORT=55433
BATCH_SIZE=500
SEED_ROWS=10000
TICK_MS=250
TRAFFIC_MS=100
